body {
    background-color: azure;
}

h1 {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}


.section {
    text-align: center;
}

p {
    font-size: 19px;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
}

textarea {
    resize: none;
}

.button {
    color: black;
    background-color: white;
    border: 2px solid black;
    font-family:'Work Sans', sans-serif;
}

.button1 {padding: 10px 24px;}